APP_NAME=controlplane-api
APP_ENV=development
PORT=3000
LOG_LEVEL=debug

DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_NAME=controlplane
DATABASE_URL=postgres://username:password@localhost:5432/controlplane?sslmode=disable

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=your-access-secret-min-32-chars-long
JWT_REFRESH_SECRET=your-refresh-secret-min-32-chars-long
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=604800
